.id {
    color: black;
    width: 50px;
    height: 25px;
    border-radius: 5px; /* adiciona bordas arredondadas para um visual de botão */
    display: inline-block; /* faz o background se comportar como um elemento em linha para que possa ser clicado */
    font-family: sans-serif
  }
  .nomePokemon{
    color: black;
  }
  .tipo {
    color: black;
    display: flex;
    
    margin-top: 10px;
  }
  
  .tipo strong {
    margin-bottom: 10px;
  }
  
 .container {
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
 }
 .card-header {
    border-radius: 20px;
 }
 * {
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
 }
 h1{
    background-color: red;
    color: white;
    border-radius: 20px;
 }
 .btnPro {
    background-color: rgb(60, 60, 200);
 }
 .btnAnt {
    background-color: rgb(60, 60, 200);
 }
 .Habilidades {
    display: flex;
    flex-wrap: wrap;
  }
  .Habilidades, .Status {
    margin-top: 50px;
  }
  .statusPokemon{
   list-style: none;
   padding: 5px;
   text-align: left;
   margin-left: 13%;
  }
  .baseNumber{
   padding: 10px;
  }
  .fire {
   background-color:  rgb(253,125,36);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .water {
   background-color:  rgb(69,146,196);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .fairy {
   background-color:  rgb(253,185,233) ;
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .grass {
   background-color: rgb(155,204,80);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .poison {
   background-color:  rgb(185,127,201);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .normal {
   background-color:  rgb(164,172,175);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .ground {
   background-color:  rgb(110, 72, 2) ;
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .steel {
   background-color:  rgb(158,183,184) ;
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .psychic {
   background-color:  rgb(243,102,185);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .fighting {
   background-color:  rgb(213,103,35);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .rock {
   background-color:  rgb(163,140,33);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .electric {
   background-color:  rgb(238,213,53);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .dragon {
   background-color:  rgb(116, 53, 180);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .bug {
   background-color:  rgb(114,159,63) ;
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .dark {
   background-color:  rgb(112,112,112);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .flying {
   background-color:  rgb(127, 148, 218);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .ghost {
   background-color:  rgb(144, 211, 231);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }
  .ice {
   background-color:  rgb(81,196,231);
   color: black;
   padding: 5px;
   margin: auto;
   width: 80px;
  }