<div class="container-xxl">
    <div class="card-header text-center">
            <h1>Pokedex</h1>
    </div>
        <div class="body">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="row">
                                  <div class="col">
                                    <div class="nomePokemon">
                                        <h5 class="card-title">{{pokemon.name | titlecase}}</h5>
                                    </div>
                                    <div class="image">
                                        <img class="img-fluid" src="{{getFotoPokemon()}}"
                                          alt="{{pokemon.name}}" />
                                    </div>
                                    <div class="tipo justify-content-around">
                                      <ng-container *ngFor="let type of pokemon.types">
                                        <strong class="{{type.type.name | lowercase}}">{{type.type.name}}</strong>
                                      </ng-container>                                
                                    </div>
                                  </div>
                                  <div class="col">
                                    <div class="id">
                                        <strong>ID:{{pokemon.id}}</strong> 
                                    </div>
                                    <br>
                                  <div class="altura">
                                    <strong>Altura:{{pokemon.height/10}}M</strong>
                                  </div>
                                  <div class="peso">
                                    <strong>Peso:{{pokemon.weight/10}}Kg</strong>
                                  </div>
                                  
                                  <div class="Habilidades justify-content-around">
                                    <ng-container *ngFor="let type of pokemon.abilities">
                                      <strong>Skill:{{type.ability.name | titlecase}}</strong>
                                    </ng-container>
                                  </div>
                                  <div class="Status">
                                        <div class="row">
                                            <div class="col">
                                              <li class="statusPokemon" *ngFor="let type of pokemon.stats">
                                                <strong>{{type.stat.name | titlecase}}:</strong>
                                                <strong class="baseNumber">{{ type.base_stat }}</strong>   
                                              </li>
                                            </div>
                                          </div>
                                  </div>
                                  
                                  </div>
                        <div class="row">
                            <div class="button d-flex justify-content-around">
                                <button class="btnAnt" type="button" (click)="AnteriorPokemon()">Anterior</button>
                                <button class="btnPro" type="button" (click)="ProximoPokemon()">Próximo</button>
                            </div>
                        </div>
                        </div>
                      </div>
                  </div>
             </div>
        </div>
</div>


